/* Main page */
.playpage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  @include respond-to(sm-up) {
    flex-direction: row;
    justify-content: center;
  }

  @include respond-to(md-up) {
    gap: var(--gap-40);
  }

  &__board {
    padding: var(--gap-10);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    @include respond-to(sm-up) {
      flex: 1;
      min-width: 0;
    }
  }

  &__notes {
    flex: 1;
    overflow-y: scroll;
    background:
		/* Shadow covers */ linear-gradient(var(--color-background-light) 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), var(--color-background-light) 70%) 0 100%, /* Shadows */ linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)) 0 100%;
    background-repeat: no-repeat;
    background-color: var(--color-background-light);
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    border-top: 1px solid var(--color-border);

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;

    @include respond-to(sm-up) {
      flex: 0 0 130px;
      max-height: 100vh;
      border-top: none;
    }

    &__title {
      padding: 0 var(--gap-10);
    }

    &__empty {
      opacity: 0.5;
      padding: 0 var(--gap-10);
    }
  }

  &__clicks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: click;

    @include respond-to(sm-up) {
      flex-wrap: nowrap;
      flex-direction: column-reverse;
    }

    &__item {
      counter-increment: click;
      display: flex;
      align-items: center;
      line-height: 2;
      padding: 0 var(--gap-10);
      color: hsl(29, 96%, 50%);

      &:nth-of-type(even) {
        color: hsl(29, 96%, 70%);
      }

      &::before {
        content: counter(click) ".";
        display: inline-block;
        font-size: 0.6em;
        color: currentColor;
        margin-right: 1em;
        opacity: 0.5;
        text-align: right;
        width: 1.2em;
      }
    }
  }
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  aspect-ratio: 1/1;
  border: 1px solid #ccc;
  width: min(100%, calc(100vh - var(--gap-10) * 4));

  &__square {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: opacity 0.2s;

    &::hover {
      opacity: 0.9;
    }
    &__notation {
      font-size: 0.75rem;
      opacity: 0.5;
      user-select: none;
      -webkit-user-select: none;
    }
  }
}

// Out of BEM to avoid VUE assertion problems
.whites {
  background-color: var(--color-whites);
  color: var(--color-blacks);
}

.blacks {
  background-color: var(--color-blacks);
  color: var(--color-whites);
}

.clicked {
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top 5px right 5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' viewBox='0 0 512 512'%3E%3Cpath fill='%23fa7d05' d='M369.214 159.814c-91.389-55.601-48.533-134.078-46.693-137.34A14.999 14.999 0 0 0 309.515 0c-47.043 0-83.881 13.366-109.49 39.729-43.759 45.044-41.729 115.151-40.862 145.088.097 3.317.179 6.182.179 8.311 0 22.228 3.566 42.748 6.713 60.854 2.028 11.668 3.779 21.744 4.091 29.664.333 8.482-1.216 10.424-1.281 10.503-.221.263-2.062 1.241-7.036 1.241-5.674 0-9.856-1.854-13.563-6.009-14.476-16.233-15.477-60.554-12.709-84.667a14.999 14.999 0 0 0-14.898-16.732c-38.945 0-68.047 63.688-68.047 120.632 0 26.769 5.385 52.991 16.004 77.94 10.266 24.119 24.904 45.885 43.512 64.696C150.877 490.425 201.97 512 255.993 512c54.242 0 105.321-21.27 143.831-59.889 38.41-38.521 59.564-89.482 59.564-143.499 0-68.921-53.927-126.746-90.174-148.798Z'/%3E%3C/svg%3E");
}
